<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sarah.ateliergl">
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_good"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_good"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfilsActivity" />
        <activity android:name=".InscriptionActivity"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".activity_profil"/>
        <activity android:name=".ServiceActivity"/>
    </application>

</manifest>